.visit__wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background: url(../public/back.avif);
  padding: 20px;
  min-height: 100vh;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  margin-bottom: 10px;
}
.visit__text{
  max-width: 560px;
  text-align: center;
  color: white;
}
.links{
  margin-top: 5px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 280px;
}
.footer{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.link{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid white;
}
.link svg{
  width: 22px;
  fill: white;
}
.visit__text span{
  font-size: 20px;
  font-weight: 500;
}
.visit__text p p {
  margin-top: 10px;
  font-size: 20px;
}
.footer{
  font-size: 22px;
  font-weight: 500;
}
.footer p:nth-child(2){
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}